.tarih{
    position: relative;
}

.tarih .topbar{
    position:absolute;
    width: 75px;
    height: 75px;
    right: 0;
    bottom: 0;
}

.tarih .topbar img{
    width: 55px;
    height: 45px;
    border-radius: 50%;
    border: 3px solid black;
   
    
}